.blogNavPage {
    background-color: #650300;
    color: #fff;

    @include pad {
        .container {
            padding: 0 36px;
        }
    }

    @include mobile {
        .container {
            padding: 0 14px 0 13px;
        }
    }

    .blogNavlist {
        display: flex;
        justify-content: space-between;

        .navListItem {
            display: flex;
            justify-content: flex-start;
            // padding-left: 12px;
            width: 100%;

            li {
                margin-right: 48px;

                @include mobile {
                    margin-right: 0;
                    width: 25%;
                }

                a {
                    display: block;
                    padding: 13px 0;

                    @include mobile {
                        font-size: 16px;

                    }
                }
            }

        }
    }

    .navSearch {
        @include mobile {
            display: none;
        }

        .material-icons {
            font-size: 29px;
            line-height: 56px;

        }
    }
}

.breadcrumb {
    @include pad {
        padding-top: 8px;

        .container {
            padding: 0 36px;
        }
    }

    @include mobile {
        padding-top: 16px;

        .container {
            padding: 0 14px 0 13px;
        }
    }

    .breadcrumbItem {
        display: flex;

        li {
            margin-right: 4px;
        }
    }

    .tag {
        display: flex;

        li {
            margin-right: 16px;

            @include mobile {
                font-size: 16px;
            }
        }
    }
}

.planBox {

    @include pad {
        .container {
            padding: 0 36px;
        }
    }

    @include mobile {
        padding-bottom: 40px;

        .container {
            padding: 0 14px 0 13px;
        }
    }

    .plan {
        display: flex;
        flex-direction: row;
        margin-right: -12px;
        margin-left: -12px;

        .planMain {
            width: 67%;
            padding: 0 12px;

            @include pad {
                width: 75%;
            }

            @include mobile {
                width: 100%;
            }

            .planTitle {
                @include mobile {
                    font-size: 24px;
                }
            }

            .planSecond {
                @include mobile {
                    font-size: 16px;
                }
            }

            .planList {
                @include pad {
                    margin-bottom: 24px;
                }

                .planImgText {
                    @include pad {
                        margin-top: 16px;
                    }
                }
            }

        }

        .planTag {
            width: 33%;
            padding: 0 12px;

            @include pad {
                width: 25%;
            }

            @include mobile {
                display: none;
            }


            .planTagTitle {
                display: flex;

                .label {
                    font-size: 38px;
                    line-height: 48px;
                    vertical-align: middle;
                    margin-right: 12px;

                    @include pad {
                        font-size: 19px;
                        line-height: 24px;
                        margin-right: 0;

                    }

                }

                .tags {
                    @include pad {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }

            .planTagList {
                display: flex;
                flex-wrap: wrap;
                margin-top: 4px;

                li {
                    margin-right: 24px;

                    @include pad {
                        font-size: 16px;
                        line-height: 24px;
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}

.planNext {
    width: 67%;

    @include pad {
        width: 100%;
        margin-top: 16px;
    }

    @include mobile {
        display: none;
    }

    .share {
        color: #000000;
        display: flex;
        padding-bottom: 15px;
        border-bottom: 1px solid #707070;

        li {
            margin-right: 16px;

            a {
                display: block;
            }

            .icon {
                width: 24px;
                height: 24px;
            }

            .one {
                background: url(../imges/logo-facebook.png)no-repeat center;
                background-size: cover;
            }

            .two {
                background: url(../imges/logo-instagram.png)no-repeat center;
                background-size: cover;
            }
        }
    }
}

.upNext {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
}